<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

    {% include "_head.html" %}

    <body>

        {% include "_sidebar.html" %}

        <!-- Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS collisions with our real content. -->
        <div class="wrap">
            <div class="masthead">
            <div class="container">
                <div class="masthead-logo"></div>
                <h3 class="masthead-title">
                <a href="/" title="Home">{{ conf.blog_title }}</a>
                <small>{{ conf.blog_description }}</small>
                </h3>
            </div>
            </div>

            <div class="container content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    </body>
</html>
